<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML-Incidence estimation</title>
</head>
<body>
    <button id="update">Update</button>
    <input id="AGS" placeholder="insert: ags-name"/>
    <div id="chart_div" style="height: 80%; width: 100%;"></div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script>
</body>
</html>